#{extends 'layout.html' /}
#{set title:'Algoritimo Genético' /}

<div ng-controller="AlgoritimoCtrl">

	<!-- MESSAGES -->
	<section id="message_container" class="message_container">
		<div id="message_binder" style="margin-bottom: 8px;" class="{{status}}">
			<span id="message_text">{{message}}</span>
		</div>
	</section>
	<!-- MESSAGES -->

	<div class="alert alert-info">

		<h4>Algoritimo Genético</h4> <br />

		<form class="ng-pristine ng-valid form-horizontal" style="float:left;">

			<fieldset >

				<div class="tableHorario">

					<h5>Parâmetros Algoritimo<h5> <br />

						<div class="control-group">

							<label class="control-label" for="taxaCrossover">Crossover:</label>

							<div class="controls">

								<input type="text" ng-model="parametros.taxaCrossover" maxlength="255"/>

							</div>

						</div>

						<div class="control-group">

							<label class="control-label" for="taxaMutacao">Mutação:</label>

							<div class="controls">

								<input type="text" ng-model="parametros.taxaMutacao" maxlength="255"/>

							</div>	

						</div>

						<div class="control-group">

							<label class="control-label" for="tamanhoPopulacao">Tamanho População:</label>

							<div class="controls">

								<input type="text" ng-model="parametros.tamanhoPopulacao" maxlength="255"/>

							</div>

						</div>

						<div class="control-group">

							<label class="control-label" for="numeroMaximoGeracoes">Número de Gerações:</label>

							<div class="controls">

								<input type="text" ng-model="parametros.numeroMaximoGeracoes" maxlength="255"/>

							</div>

						</div>


						<div class="control-group">

							<label class="control-label" for="elitismo">Elitismo:</label>

							<div class="controls">

								<label class="radio inline"><input type="radio" ng-model="parametros.elitismo" value="1">Sim</label>

								<label class="radio inline"><input type="radio" ng-model="parametros.elitismo" value="0">Não</label>

							</div>

						</div>

						<div class="control-group">

							<label class="control-label" for="name"></label>

							<div class="controls">

								<input type="submit" value="Roda" class="btn btn-large btn-danger" ng-click="roda()" />

							</div>

						</div>


					</div>

					<!--Fim parâmetros algoritimo-->

					<div class="tableHorario">

						<h5>Pesos de alocação<h5> <br />

							<div class="control-group">

								<label class="control-label" for="pesoDiscliplinaAlocada">Disciplina alocada:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoDiscliplinaAlocada" maxlength="255"/>

								</div>

							</div>


							<div class="control-group">

								<label class="control-label" for="pesoGraduacao">Graduação:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoGraduacao" maxlength="255"/>

								</div>

							</div>



							<div class="control-group">

								<label class="control-label" for="pesoPos">Pós-Graduação:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoPos" maxlength="255"/>

								</div>

							</div>


							<div class="control-group">

								<label class="control-label" for="pesoMesmoPeriodo">Periodos na mesma sala:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoMesmoPeriodo" maxlength="255"/>

								</div>

							</div>

							<div class="control-group">

								<label class="control-label" for="pesoCapacidade">Capacidade da turma:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoCapacidade" maxlength="255"/>

								</div>

							</div>

							<div class="control-group">

								<label class="control-label" for="pesoOptativa">Optativa:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoOptativa" maxlength="255"/>

								</div>
							</div>


							<div class="control-group">

								<label class="control-label" for="pesoIluminacao">Iluminação:</label>

								<div class="controls">

									<input type="text" ng-model="parametros.pesoIluminacao" maxlength="255"/>

								</div>

							</div>

						</div>
						<!--Fim pesos de alocação-->
						

					</fieldset>

				</form>

				<div class="tableHorario">

					<div class="control-group">

						<h5>Resultado<h5> <br />

							<div class="controls" ng-repeat="item in data">
								{{item.genoma}}<br />
								{{item.fitness}}
							</div>
						</div>
					</div>


					<div class="clear"></div>

				</div>

			</div>

			<script type="text/javascript">

			function AlgoritimoCtrl ($scope, $http) {

				$scope.parametroGet = function(){

					var _url = window.viewModel.url.base + 'ag/parametroGet';

					$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

						$scope.parametros = data.data;

					}).error(function(data, status, headers, config) {

						console.log(status);
					});

				}

				$scope.roda = function(){

					var data = { id : $scope.parametros.id,

						elitismo : $scope.parametros.elitismo == '1' ? true : false,

						taxaCrossover : $scope.parametros.taxaCrossover,

						taxaMutacao :  $scope.parametros.taxaMutacao,

						tamanhoPopulacao :  $scope.parametros.tamanhoPopulacao,

						numeroMaximoGeracoes:  $scope.parametros.numeroMaximoGeracoes,

						pesoDiscliplinaAlocada : $scope.parametros.pesoDiscliplinaAlocada,

						pesoGraduacao : $scope.parametros.pesoGraduacao,

						pesoPos :  $scope.parametros.pesoPos,

						pesoMesmoPeriodo : $scope.parametros.pesoMesmoPeriodo,

						pesoCapacidade : $scope.parametros.pesoCapacidade,

						pesoOptativa :  $scope.parametros.pesoOptativa,

						pesoIluminacao : $scope.parametros.pesoIluminacao
					}

					var _url = window.viewModel.url.base + 'ag/result';


					$http.post(_url, JSON.stringify(data)).success(	function(data, status, headers, config) {

						$scope.setmessage(data.message, data.status);

					})
					.error(function(data, status, headers, config) {

						$scope.message = "Erro ao chamar a url " + _url + " status " + status;

					});

				}

				$scope.setmessage = function(_message, _status){

					$scope.message = _message;

					if (_status == "s") {

						$scope.status = 'message message-success';

					} else if (_status == "a") {

						$scope.status = 'message message-alert'

					} else if (_status == "e") {

						$scope.status = 'message message-error';

					}
				}

				$scope.open = function(){

					$scope.message = 'Nenhuma informação sobre essa página';

					$scope.status = 'message message-info';
				}

				$scope.open();

				$scope.parametroGet();
			}
			</script>

