#{extends 'layout.html' /}
#{set title:'Algoritimo Genético' /}

<div ng-controller="AlgoritimoCtrl">

	<!-- MESSAGES -->
	<section id="message_container" class="message_container">
		<div id="message_binder" style="margin-bottom: 8px;" class="{{status}}">
			<span id="message_text">{{message}}</span>
		</div>
	</section>
	<!-- MESSAGES -->

	<div class="alert alert-info">

		<h4>Algoritimo Genético</h4> <br />

		<form class="ng-pristine ng-valid form-horizontal" style="float:left;">

			<fieldset >

				<div class="control-group">

					<label class="control-label" for="descricao">Mutação:</label>

					<div class="controls">

						<input type="text" ng-model="descricao" maxlength="255"/>

					</div>	

				</div>


				<div class="control-group">

					<label class="control-label" for="nome">Crossover:</label>

					<div class="controls">

						<input type="text" ng-model="nome" maxlength="255"/>

					</div>

				</div>

				<div class="control-group">

					<label class="control-label" for="descricao">Tamanho População:</label>

					<div class="controls">

						<input type="text" ng-model="descricao" maxlength="255"/>

					</div>

				</div>

				<div class="control-group">

					<label class="control-label" for="name"></label>
					<div class="controls">

						<input type="submit" value="Salvar" class="btn btn-success" ng-click="save()" />

						<br /><br /><br />

						<input type="submit" value="Roda" class="btn btn-large btn-danger" ng-click="roda()" />

					</div>
				</div>

			</fieldset>

		</form>


		<div class="tableHorario">

			

			<div class="control-group">

				<label class="control-label" for="turno">Resultado</label>

				<div class="controls" ng-repeat="item in data">
					{{item.genoma}}<br />
					{{item.fitness}}
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>


<script type="text/javascript">

function AlgoritimoCtrl ($scope, $http) {

	$scope.roda = function(){

		var _url = window.viewModel.url.base + 'ag/result';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.data = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}
}
</script>

