#{extends 'layout.html' /}
#{set title:'Controle de Disciplinas' /}


<div ng-controller="DisciplinaCtrl">

	<!-- MESSAGES -->
	<section id="message_container" class="message_container">
		<div id="message_binder" style="margin-bottom: 8px;" class="{{status}}">
			<span id="message_text">{{message}}</span>
		</div>
	</section>
	<!-- MESSAGES -->

	<div class="alert alert-info">

		<h4>Cadastro de disciplina</h4> <br />



		<form class="ng-pristine ng-valid form-horizontal" style="float:left;">

			<fieldset >

				<div class="control-group">

					<label class="control-label" for="curso">Curso:</label>

					<div class="controls">

						<select ng-options="c.id as c.nome for c in cursos" ng-model="periodo.colegiado.curso.id"></select>

					</div>

				</div>

				<div class="control-group">

					<label class="control-label" for="colegiado">Colegiado:</label>

					<div class="controls">

						<select ng-options="co.id as  co.nome for co in colegiados | filter : {curso.id : periodo.colegiado.curso.id}" ng-model="periodo.colegiado.id"></select>

					</div>

				</div>


				<div class="control-group">

					<label class="control-label" for="periodo">Período:</label>

					<div class="controls">

						<select ng-options="p.id as p.periodo for p in periodos | filter : {colegiado.id : periodo.colegiado.id}" ng-model="periodo.id"></select>

					</div>

				</div>




				<div class="control-group">

					<label class="control-label" for="nome">Nome:</label>

					<div class="controls">

						<input type="text" ng-model="nome" maxlength="255"/>

					</div>

				</div>


				<div class="control-group">

					<label class="control-label" for="codigo">Código:</label>

					<div class="controls">

						<input type="text" ng-model="codigo" maxlength="255"/>

					</div>

				</div>




				<div class="control-group">

					<label class="control-label" for="turma">Turma:</label>

					<div class="controls">

						<input type="text" ng-model="turma" maxlength="255"/>

					</div>

				</div>

				<div class="control-group">

					<label class="control-label" for="vagas">Vagas:</label>

					<div class="controls">

						<input type="text" ng-model="vagas" maxlength="255"/>

					</div>

				</div>

				<div class="control-group">

					<label class="control-label" for="name"></label>
					<div class="controls">

						<input type="submit" value="Salvar" class="btn btn-success" ng-click="save()" />&nbsp;&nbsp;

						<input type="button" value="Limpar" class="btn" ng-click="clear()" /> 

					</div>
				</div>

			</fieldset>

		</form>

		<div class="tableHorario">

			<table class="table table-bordered table-striped table-hover table-condensed">
				<tr>
					<td ng-style="bgstyle(false,false)">HORÁRIO</td>
					<td ng-style="bgstyle(false,false)">SEGUNDA</td>
					<td ng-style="bgstyle(false,false)">TERÇA</td>
					<td ng-style="bgstyle(false,false)">QUARTA</td>
					<td ng-style="bgstyle(false,false)">QUINTA</td>
					<td ng-style="bgstyle(false,false)">SEXTA</td>
					<td ng-style="bgstyle(false,false)">SÁBADO</td>
					<td ng-style="bgstyle(false,false)">DOMINGO</td>
				</tr>
				<tr ng-repeat="item in listSemana">
					<td ng-model="id" ng-style="bgstyle(false)">{{item.horario.turno.descricao}} - {{item.horario.horarioDe}} : {{item.horario.horarioAte}}</td>
					<td ng-click="item.segunda.alocado = !item.segunda.alocado" ng-style="bgstyle(item.segunda.alocado,true)"></td>
					<td ng-click="item.terca.alocado = !item.terca.alocado" ng-style="bgstyle(item.terca.alocado,true)"></td>
					<td ng-click="item.quarta.alocado = !item.quarta.alocado" ng-style="bgstyle(item.quarta.alocado,true)"></td>
					<td ng-click="item.quinta.alocado = !item.quinta.alocado" ng-style="bgstyle(item.quinta.alocado,true)"></td>
					<td ng-click="item.sexta.alocado = !item.sexta.alocado" ng-style="bgstyle(item.sexta.alocado,true)"></td>
					<td ng-click="item.sabado.alocado = !item.sabado.alocado" ng-style="bgstyle(item.sabado.alocado,true)"></td>
					<td ng-click="item.domingo.alocado = !item.domingo.alocado" ng-style="bgstyle(item.domingo.alocado,true)"></td>
				</tr>

			</table>
		</div>
		<div class="clear"></div>

	</div>
	
	<h4>Lista de disciplinas</h4> <br />

	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>

			<tr>
				<td>Id</td>
				<td>Curso</td>
				<td>Colegiado</td>
				<td>Período</td>
				<td>Código</td>
				<td>Nome</td>
				<td>Turma</td>
				<td>Vagas</td>
			</tr>
		</thead>

		<tbody >
			<tr ng-repeat="item in data">

				<td ng-model="id">{{item.disciplina.id}}</td>
				<td> {{item.disciplina.periodo.colegiado.curso.nome}} </td>
				<td> {{item.disciplina.periodo.colegiado.nome}} </td>
				<td> {{item.disciplina.periodo.periodo}} </td>
				<td> {{item.disciplina.codigo}} </td>
				<td> {{item.disciplina.nome}} </td>
				<td> {{item.disciplina.turma}} </td>
				<td> {{item.disciplina.vagas}} </td>
				<td><input type="button" value="Editar" class="btn btn-primary" ng-click="edit($index)">&nbsp;&nbsp;<input type="button" value="Deletar" class="btn btn-danger" ng-click="delete(item.disciplina.id)"></td>

			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">

function DisciplinaCtrl ($scope, $http) {

	var object = null;

	$scope.edit = function(_id){

		object = $scope.data[_id];

		$scope.id = object.disciplina.id;

		$scope.periodo = object.disciplina.periodo;

		$scope.nome = object.disciplina.nome;
		
		$scope.codigo = object.disciplina.codigo;

		$scope.turma = object.disciplina.turma;

		$scope.vagas = object.disciplina.vagas;

		$scope.listSemana = object.listSemana;

	}

	$scope.bgImage = function(item){

		return

	}

	$scope.bgstyle = function (item, semana) {

		var color;


		if (semana) {
	
			

			if (item)	

				return {backgroundColor:'#C3060A', color:'#f9f9f9', width:'70px'};

			return {width:'70px'};
		}


	}

	$scope.save = function(){

		var data;

		if (object == null)


			data = {disciplina:{ id : null , periodo : $scope.periodo , nome : $scope.nome, codigo : $scope.codigo, turma : $scope.turma, vagas: $scope.vagas}, listSemana : $scope.listSemana};

		else

			data = {disciplina:{ id : $scope.id  , periodo : $scope.periodo , nome : $scope.nome, codigo : $scope.codigo, turma : $scope.turma, vagas: $scope.vagas}, listSemana : $scope.listSemana};

		var _url;

		if (data.disciplina.id == null)

			_url = window.viewModel.url.base + 'disciplina/save';

		else

			_url = window.viewModel.url.base + 'disciplina/edit';

		$http.post(_url, JSON.stringify(data)).success(
			function(data, status, headers, config) {
				$scope.list();

				if (data.status != 'e'){
					$scope.clear();
					object = null;
				}

				$scope.setmessage(data.message, data.status);
			})
		. error(function(data, status, headers, config) {

			$scope.message = "Erro ao chamar a url " + _url + " status " + status;

		});
	}

	$scope.delete = function(_id){

		var data = { id:_id };

		var _url = window.viewModel.url.base + 'disciplina/delete';

		$http.post(_url, JSON.stringify(data)).success(	
			function(data, status, headers, config) {

				$scope.list();

				$scope.clear();

				$scope.setmessage(data.message, data.status);

				object = null;

			})
		. error(function(data, status, headers, config) {
			$scope.message = "Erro ao chamar a url " + _url + " status " + status;
		})	

	}

	$scope.list = function () {

		var _url = window.viewModel.url.base + 'disciplina/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.data = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});
	}

	$scope.listCursos= function () {

		var _url = window.viewModel.url.base + 'curso/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.cursos = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}


	$scope.listColegiados= function () {

		var _url = window.viewModel.url.base + 'colegiado/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.colegiados = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}


	$scope.listTurnos= function () {

		var _url = window.viewModel.url.base + 'turnos/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.turnos = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}

	$scope.listHorarios= function () {

		var _url = window.viewModel.url.base + 'horario/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.horarios = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}

	$scope.listPeriodos= function () {

		var _url = window.viewModel.url.base + 'periodo/list';

		$http({method: 'GET', url: _url}).success(function(data, status, headers, config) {

			$scope.periodos = data.data;

		}).error(function(data, status, headers, config) {

			console.log(status);
		});

	}

	$scope.clear = function () {

		$scope.periodo = null;
		$scope.nome='';
		$scope.codigo = '';
		$scope.turma = '';
		$scope.vagas='';
		$scope.listSemana = null;
		$scope.open();

	}

	$scope.setmessage = function(_message, _status){

		$scope.message = _message;

		if (_status == "s") {

			$scope.status = 'message message-success';

		} else if (_status == "a") {

			$scope.status = 'message message-alert'

		} else if (_status == "e") {

			$scope.status = 'message message-error';

		}
	}

	$scope.open = function(){

		$scope.message = 'Nenhuma informação sobre essa página';

		$scope.status = 'message message-info';
	}

	$scope.open();

	$scope.list();

	$scope.listCursos();

	$scope.listColegiados();

	$scope.listPeriodos();

}

</script>